@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
}

img {
    max-width: 100%;
}

.container1 {
    height: 50vh;
    background-color: #013243;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    height: 50vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    width: 90%;
    align-items: center;
    gap: 1.5rem;
}

h1 {
    color: #fff;
}

h2 {
    color: #569eb6;
    font-size: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-top: 2rem;
}

.iphone {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 50%;
}

.login {
    font-size: 28px;
    align-self: flex-start;
}

#email {
    padding: .75rem;
}

.email {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

#password {
    padding: .75rem;
}

.password {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.agreement {
    display: flex;
    width: 75%;
    gap: .5rem;
    align-self: flex-start;
}

a {
    color: #013243;
    font-weight: bold;
}

.btn {
    border: none;
    background-color: #013243;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: .75rem;
}

@media screen and (min-width: 420px ) and (max-width: 768px) {
    .iphone {
        height: 50%;
    }
}

@media screen and (min-width: 768px) {/*tablet*/
    .iphone {
        height: 42.5%;
        bottom: 52.5%;
    }

    .bigcontainer {
        width: 50%;
    }

    .container1 {
        height: 40vh;
    }

    .container2 {
        height: 45vh;
    }

    body {
        min-height: 100vh;
        background-image: url("Assets/Background.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .bigcontainer {
        display: flex;
    }

    .container1 {
        width: 90%;
        height: auto;
    }
    
    .container2 {
        height: 50vh;
    }

    .iphone {
        bottom: 25%;
    }
}

@media screen and (min-width: 1201px) {
    .bigcontainer {
        display: flex;
    }

    .container1 {
        width: 50%;
        height: auto;
    }

    .iphone {
        bottom: 25%;
    }
}